<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.kusoul.mapper.AddressMapper">

        <!-- 通用查询映射结果 -->
        <resultMap id="BaseResultMap" type="com.example.kusoul.bean.Address">
                    <result column="id" property="id"/>
                    <result column="adresssID" property="adresssID"/>
                    <result column="flg" property="flg"/>
                    <result column="phoneNumber" property="phoneNumber"/>
                    <result column="createDate" property="createDate"/>
                    <result column="createID" property="createID"/>
                    <result column="updateDate" property="updateDate"/>
                    <result column="updateID" property="updateID"/>
        </resultMap>

        <!-- 通用查询结果列 -->
        <sql id="Base_Column_List">
            id, adresssID, flg, phoneNumber, createDate, createID, updateDate, updateID
        </sql>


</mapper>